/* Basic Styles */
body {
	background: #fff;
	color: #222;
	font: 68.75%/1.5 Lucida Grande, Meiryo, Tahoma, Verdana, sans-serif;
}
a {
	color: #5072bf;
	text-decoration: underline;
	cursor: pointer;
}
a:hover {
	color: #000;
}
a:active {
	color: #d42;
}
p {
	margin-bottom: 1.5em;
}
h1,
h2 {
	position: relative;
	clear: both;
	margin-bottom: 1em;
	text-shadow: -1px 2px 3px #ddd;
	font: 127.28% Lucida Grande, Leelawadee, Tahoma, Verdana, sans-serif;
}
h3,
h4 {
	position: relative;
	clear: both;
	margin-bottom: 0.75em;
	text-shadow: -1px 2px 2px #ddd;
	font-weight: bold;
}
ul,
ol {
	margin: 0 0 1.5em 2.25em;
}
code {
	font: 110%/1.5 Monaco, Consolas, 'Andale Mono', monospace;
	font-size-adjust: 0.5;
}
i,
var {
	position: absolute;
	right: 0;
	color: #aa9;
	text-shadow: none;
	font-style: normal;
}
* {
	margin: 0;
	padding: 0;
	font-size: 1em;
}

	text-decoration: none;
}
h1 a:hover,
#usr a:hover {
	color: #ccb;
}

/* Navigation */
#nav {
	z-index: 3;
	position: relative;
	top: -5px;
	float: left;
	margin: 0 0 7px -19px;
	padding: 5px 38px 5px 0;
	width: 100%;
	background: url("images/navigation.png") 0 -60px repeat-x;
	color: #646464;
	white-space: nowrap;
	list-style: none;
	text-transform: uppercase;
	font: bold 90.91%/0 Lucida Grande, Leelawadee, Tahoma, Verdana, sans-serif;
}
#nav > li {
	float: left;
	margin: 0 -19px 0 19px;
	padding: 15px 1em;
	height: 0;
	cursor:pointer;
}
#nav > li:hover,
#nav > li.active {
	background: #517ca6 url("images/navigation.png") repeat-x;
	color: #fff;
}
#nav > li:hover {
	position: relative;
	background-color: #7e7e70;
	background-position: 0 -30px;
}
#nav ul {
	display: none;
	position: absolute;
	top: 25px;
	left: 5px;
	margin: 0;
	min-width: 120px;
	border: 1px solid;
	border-color: #fdfdfd #f1f1f1 #d2d2d2 #ececec;
	padding-left: 0;
	background-color: #fff;
	background-color: rgba(255, 255, 255, 0.8);
	list-style: none;
	text-transform: none;
	font-weight: normal;
	font-size: 130%;
	line-height: 2.5;
	-moz-box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
}
#nav li:hover ul {
	display: block;
}
#nav a {
	display: block;
	padding: 0 0.77em;
	color: #444;
	text-decoration: none;
}
*:first-child+html #nav a {
	background-color:#fff;
	color: #444;
}
*:first-child+html #nav a:hover,
#nav a:hover {
	background-color: #7e7e70;
	color: #fff;
}

/* User */
p#version {
	position:absolute;
	bottom:1.75em;
	left:1.75em;
	color:#a5a5a0;
	z-index:2;
	margin:0;
}
#usr {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	margin: 0;
	padding: 1.75em 0;
	background: #353530 url("images/navigation.png") 0 -95px repeat-x;
	text-align: right;
	text-shadow: -1px 2px 3px #111;
	color: #fff;
}
#usr li {
	display: inline;
	margin-right: 12px;
}
#usr a {
	padding: 5px;
	border: none;
	text-decoration: none;
	color: #fff;
}

/* System Messages */
#notice {
	position: relative;
	z-index: 2;
	margin: 5.5em -19px -5.5em;
	border-top: 3px solid #979792;
	border-bottom: 2px solid #777;
	padding: 0 0.83em 0;
	background-color: #e4e4e0;
	color: #555;
	font-size: 90.91%;
	line-height: 2.5;
}
#notice.error {
	background-color: #ffb;
	border-top: 3px solid #cc8;	
}
#notice.success {
	background-color: #ddf6bb;
	border-top: 3px solid #90c349;
}
#notice a,
#notice button {
	color: #999;
	margin-left: 0.5em;
}
#notice a:hover,
#notice button:hover {
	color: #332;
}
#notice.error a,
#notice.error button {
	color: #d55;<ul id="nav">
	
}
#notice.error a:hover,
#notice.error button:hover {
	color: #912712;
}
#notice.success a:hover,
#notice.success button:hover {
	color: #111;
}
#notice button {
	border: none;
	background: none;
	text-decoration: underline;
	cursor: pointer;
}

/* Common Vocabulary */
.busy,
.busy * {
	cursor: wait;
}
.inactive,
.inactive * {
	color: #887;
}
.irrelevant {
	display: none;
}
.wrapper {
	margin: 0 -19px;
	padding: 0 19px;
	height: 0;
	overflow: hidden;
}
.selected {
	border-color: #617dc5;
	background-color: #5273c0;
}
.movable {
	border-color: #998;
	background-color: #887;
}
.selected,
.selected a,
.selected td,
.movable,
.movable a,
.movable td {
	color: #fff;
}
.movable,
.movable *,
.orderable tbody {
	cursor: move;
}
.selected h4 i,
.selected label i,
.selected .inactive {
	color: #abe;
}
.movable h4 i,
.movable label i,
.movable .inactive {
	color: #ccb;
}

/* Code */
code {
	font: 110%/1.5 Monaco, Consolas, 'Andale Mono', monospace;
}
pre {
	position: relative;
	left: 275px;
	margin: 0 0 1.75em -275px;
	width: 100%;
	color: #474742;
	white-space: normal;
	font: inherit;
}
pre code {
	display: block;
	border: 1px dashed #a1a19a;
	padding: 5px 7px;
	overflow: auto;
	white-space: pre;
}

/* Buttons */
a.button {
	background-color: #597bc6;
	color: #fff;
	float:right;
	padding: 0 1em .1em 1em;
	margin: 0;
	line-height: 2em;
	height: 2em;
	font-size: .7em;
	text-decoration: none;
	text-shadow: none;
	cursor: pointer;
	border-radius: 1em;
	-moz-border-radius: 1em;
	-webkit-border-radius: 1em;
}
a.button:hover,
a.button.active {
	background-color: #222;
}
a.create {
	background-color: #81b934;
}

/* Framework */
html,
body {
	height: 100%;
}
form {
	position: relative;
	margin-top: -5em;
	padding: 0 19px 5em;
	min-height: 100%;
	overflow: hidden;
}
h1 {
	margin: 0 -19px;
	padding: 5.64em 19px 1.71em 1.71em;
	background: #353530;
	color: #fff;
	text-shadow: -1px 2px 3px #111;
	font-weight: bold;
	line-height: 1ex;
}
h1 a {
	color: #fff;
	text-decoration: none;
}
h1 a:hover,
#usr a:hover {
	color: #ccb;
}

/* Navigation */
#nav {
	z-index: 3;
	position: relative;
	top: -5px;
	float: left;
	margin: 0 0 7px -19px;
	padding: 5px 38px 5px 0;
	width: 100%;
	background: url("images/navigation.png") 0 -60px repeat-x;
	color: #646464;
	white-space: nowrap;
	list-style: none;
	text-transform: uppercase;
	font: bold 90.91%/0 Lucida Grande, Leelawadee, Tahoma, Verdana, sans-serif;
}
#nav > li {
	float: left;
	margin: 0 -19px 0 19px;
	padding: 15px 1em;
	height: 0;
	cursor:pointer;
}
#nav > li:hover,
#nav > li.active {
	background: #517ca6 url("images/navigation.png") repeat-x;
	color: #fff;
}
#nav > li:hover {
	position: relative;
	background-color: #7e7e70;
	background-position: 0 -30px;
}
#nav ul {
	display: none;
	position: absolute;
	top: 25px;
	left: 5px;
	margin: 0;
	min-width: 120px;
	border: 1px solid;
	border-color: #fdfdfd #f1f1f1 #d2d2d2 #ececec;
	padding-left: 0;
	background-color: #fff;
	background-color: rgba(255, 255, 255, 0.8);
	list-style: none;
	text-transform: none;
	font-weight: normal;
	font-size: 130%;
	line-height: 2.5;
	-moz-box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
}
#nav li:hover ul {
	display: block;
}
#nav a {
	display: block;
	padding: 0 0.77em;
	color: #444;
	text-decoration: none;
}
*:first-child+html #nav a {
	background-color:#fff;
	color: #444;
}
*:first-child+html #nav a:hover,
#nav a:hover {
	background-color: #7e7e70;
	color: #fff;
}

/* User */
p#version {
	position:absolute;
	bottom:1.75em;
	left:1.75em;
	color:#a5a5a0;
	z-index:2;
	margin:0;
}
#usr {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	margin: 0;
	padding: 1.75em 0;
	background: #353530 url("images/navigation.png") 0 -95px repeat-x;
	text-align: right;
	text-shadow: -1px 2px 3px #111;
	color: #fff;
}
#usr li {
	display: inline;
	margin-right: 12px;
}
#usr a {
	padding: 5px;
	border: none;
	text-decoration: none;
	color: #fff;
}

/* System Messages */
#notice {
	position: relative;
	z-index: 2;
	margin: 5.5em -19px -5.5em;
	border-top: 3px solid #979792;
	border-bottom: 2px solid #777;
	padding: 0 0.83em 0;
	background-color: #e4e4e0;
	color: #555;
	font-size: 90.91%;
	line-height: 2.5;
}
#notice.error {
	background-color: #ffb;
	border-top: 3px solid #cc8;	
}
#notice.success {
	background-color: #ddf6bb;
	border-top: 3px solid #90c349;
}
#notice a,
#notice button {
	color: #999;
	margin-left: 0.5em;
}
#notice a:hover,
#notice button:hover {
	color: #332;
}
#notice.error a,
#notice.error button {
	color: #d55;
}
#notice.error a:hover,
#notice.error button:hover {
	color: #912712;
}
#notice.success a:hover,
#notice.success button:hover {
	color: #111;
}
#notice button {
	border: none;
	background: none;
	text-decoration: underline;
	cursor: pointer;
}

/* Common Vocabulary */
.busy,
.busy * {
	cursor: wait;
}
.inactive,
.inactive * {
	color: #887;
}
.irrelevant {
	display: none;
}
.wrapper {
	margin: 0 -19px;
	padding: 0 19px;
	height: 0;
	overflow: hidden;
}
.selected {
	border-color: #617dc5;
	background-color: #5273c0;
}
.movable {
	border-color: #998;
	background-color: #887;
}
.selected,
.selected a,
.selected td,
.movable,
.movable a,
.movable td {
	color: #fff;
}
.movable,
.movable *,
.orderable tbody {
	cursor: move;
}
.selected h4 i,
.selected label i,
.selected .inactive {
	color: #abe;
}
.movable h4 i,
.movable label i,
.movable .inactive {
	color: #ccb;
}

/* Code */
code {
	font: 110%/1.5 Monaco, Consolas, 'Andale Mono', monospace;
}
pre {
	position: relative;
	left: 275px;
	margin: 0 0 1.75em -275px;
	width: 100%;
	color: #474742;
	white-space: normal;
	font: inherit;
}
pre code {
	display: block;
	border: 1px dashed #a1a19a;
	padding: 5px 7px;
	overflow: auto;
	white-space: pre;
}

/* Buttons */
a.button {
	background-color: #597bc6;
	color: #fff;
	float:right;
	padding: 0 1em .1em 1em;
	margin: 0;
	line-height: 2em;
	height: 2em;
	font-size: .7em;
	text-decoration: none;
	text-shadow: none;
	cursor: pointer;
	border-radius: 1em;
	-moz-border-radius: 1em;
	-webkit-border-radius: 1em;
}
a.button:hover,
a.button.active {
	background-color: #222;
}
a.create {
	background-color: #81b934;
}


/* Tables */
table {
	margin-top: 1em;
	border-collapse: collapse;
	width: 100%;
}
th {
	padding-right: 19px;
	color: #665;
	text-align: left;
	font-weight: normal;
	line-height: 2;
}
td {
	border: 1px solid #e6e6e5;
	border-width: 1px 0;
	padding: 0.67em 19px 0.67em 0;
}
th:first-child,
td:first-child {
	padding-left: 19px;
}
tr.odd td {
	background-color: #f5f5f4;
}
tr:nth-child(odd) td {
	background-color: #f5f5f4;
}
tr.selected td {
	border-color: #617dc5;
	background-color: #5273c0;
}
tr.selected.odd td {
	background-color: #5677c3;
}
tr.selected:nth-child(odd) td {
	background-color: #5677c3;
}
tr.movable td,
tr.odd.movable td,
tr.selected.odd.movable td {
	border-color: #998;
	background-color: #887;
}
tr.movable:nth-child(odd) td {
	border-color: #998;
	background-color: #887;
}
tbody a {
	padding: 0.67em 0;
}
table input {
	float: right;
	margin-right: 19px;
}
table.selectable input {
	display: none;
}


.loginentry {
	margin: 1px;
    border:solid;
    border-width: 1px;
}

/* Form Elements */
fieldset,
div.secondary {
	position: relative;
	border: none;
	padding-top: 1em;
}
legend {
	float: left;
	margin-bottom: -3em;
	padding: 0;
	color: #665;
	text-indent: -275px;
	text-shadow: -1px 2px 3px #ddd;
	font-weight: bold;
	line-height: 1;
}
label {
	display: block;
	position: relative;
	margin-bottom: 1.75em;
}
label[title] {
	cursor: help;
}
label > i {
	top: 0;
}
select {
	display: block;
	margin-top: 2px;
	width: 100%;
	box-sizing: border-box;
	-khtml-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
select[multiple] {
	height: 10em;
}
textarea,
label input {
	margin-top: 2px;
	width: 100%;
	font-size: 109.09%;
	font-family: inherit;
	box-sizing: border-box;
	-khtml-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
label input {
	padding: 2px;
}
input[size],
input[type=radio],
input[type=checkbox] {
	display: inline;
	margin: 0 0.25em 0 0;
	width: auto;
}
input[size],
label + select {
	margin-left: 0.25em;
}
button {
	padding: 3.5px 6px 4px;
}

/* Generic Controls */
.primary {
	float: left;
	width: 60%;
}
.secondary {
	float: right;
	width: 35%;
}
h2,
.settings {
	margin-bottom: 0;
	border-bottom: 1px solid #ddc;
	padding-bottom: 1em;
}
.settings {
	margin-bottom: 9px;
	padding-left: 275px;
}
.settings + div,
.settings + fieldset {
	margin-top: -9px;
}
.settings > legend + p.help {
	float:left;
	width: 22em;
	margin-top:1.5em;
	margin-left:-275px;
}
.group {
	position: relative;
	right: -8px;
	margin: -0.5em 0 1.5em -16px;
	padding: 0.5em 8px 0.5em 40px;
	overflow: hidden;
	list-style: none;
}
ul.group {
	margin-bottom: -0.5em;
}
.group > * {
	float: left;
	margin: 0 0 0 32px;
	width: 50%;
}
.group > *:first-child {
	margin-left: -32px;
}
.group > div {
	margin-bottom: -1.75em;
}
.triple {
	padding-left: 72px;
}
.triple > * {
	width: 33.33%;
}
.triple > *:first-child {
	margin-left: -64px;
}
p.help {
	margin-top: -1em;
	color: #887;
}
div.invalid {
	margin-bottom: 1.5em;
	border: 1px solid #c31;
	border-bottom-color: #b21;
	padding: 0.75em 1.25em 1em;
	background-color: #d42;
	color: #fff;
}
.group > .invalid {
	padding: 0.75em 1% 1em;
	width: 48%;
}
div.invalid p {
	margin: -1em 0 0;
}
div.invalid a {
	color: #fb9;
}
div.invalid a:hover {
	color: #721;
}
h3.label {
	clear: none;
	margin-bottom: 2px;
	text-shadow: none;
	font-weight: normal;
}
label span,
div.label span {
	display: block;
	margin: 2px 0 1.75em;
	border: 1px solid #e4e4de;
	padding: 12px;
	background-color: #f5f5f3;
	text-align: center;
}
.duplicator label span,
.duplicator div.label span {
	background-color: #fffff0;
	border-color: #bbbbb0;
}
div.actions {
	position: relative;
	float: left;
	clear: both;
	width: 100%;
	border-top: 1px solid #ddc;
	padding: 14px 0 21px;
}
.settings + div.actions {
	border: none;
}
div.actions input {
	float: right;
	margin-left: 1em;
	padding: 3.5px 6px 4px;
}
div.actions button {
	float: left;
	margin-right: 1em;
	border: none;
	background-color: #887;
	color: #fff;
	cursor: pointer;
	padding: 0 1em .2em 1em;
	line-height: 2em;
	font-size: 0.95em;
	height: 2em;
	border-radius: 1em;
	-moz-border-radius: 1em;
	-webkit-border-radius: 1em;
}
button.delete:hover {
	background-color: #d43;
}
ul.tags {
	margin: -1em 0 1.5em -6px;
	overflow: hidden;
	color: #887;
	list-style: none;
	font-size: 90.91%;
}
ul.tags li {
	float: left;
	margin-left: 6px;
	border-top: none;
	padding: 0;
	word-spacing: -1px;
	cursor: pointer;
}
ul.tags li:hover {
	color: #554;
}
ul.tags li.more {
	color: #5072bf;
	text-decoration: underline;
}
ul.tags .more:hover {
	color: #222;
}
.selected ul.tags li {
	color: #abe;
}
.movable ul.tags li {
	color: #ccb;
}

/* Subsections */
.subsection {
	margin-bottom: 1.75em;
	background-color: #998;
}
.subsection h3 {
	clear: none;
	margin-bottom: 0;
	padding-bottom: 2px;
	background-color: #fff;
	text-shadow: none;
	font-weight: normal;
}
.subsection > ol {
	margin: 0 1px;
	background-color: #ddc;
	list-style: none;
}
.subsection > ol > li {
	position: relative;
	padding: 0 1.75em;
	overflow: hidden;
	background-color: #ddc;
}
.subsection li.selected {
	background-color: #5273c0;
}
.subsection li.movable {
	background-color: #887;
}
.subsection li.template {
	display: none;
}
.subsection li.selected h4 {
	border-color: #6783cb;
}
.subsection h4 {
	margin: 0 -1.75em 0.75em;
	border-top: 1px solid #998;
	border-bottom: 1px solid #e7e7e3;
	padding: 0.5em 1em;
	background-color: #ccb;
	color: #554;
	text-shadow: 2px 2px 3px #ddd;
	cursor: move;
}
.subsection li.selected h4 {
	background-color: #3e5caf;
	color: #fff;
	text-shadow: 2px 2px 3px #78c;
}
.subsection li.movable h4 {
	border-bottom-color: #998;
	background-color: #776;
	color: #fff;
	text-shadow: 2px 2px 3px #998;
}
.subsection h4 i {
	right: 1em;
	font-weight: normal;
}
.duplicator .header i {
	font-weight: normal;
	margin: 0 0 0 1ex;
	position: relative;
}
.subsection i,
.duplicator i {
	color: #887;
}
.subsection .meta {
	position: absolute;
	top: 0.5em;
	right: 1em;
}
.subsection .actions {
	float: none;
	clear: none;
	width: auto;
	padding: 0.5em 1em;
	border-top-color: #aa9;
	text-align: right;
}
.subsection .actions a {
	margin-left: 0.83em;
	padding: 0.75em 0;
	color: #fff;
	text-decoration: none;
}
.subsection .actions a:hover {
	color: #443;
}
.subsection .actions a.inactive {
	color: #ddc;
	cursor: default;
}
.subsection .actions select {
	display: inline;
	margin-top: 0;
	min-width: 10em;
	width: auto;
}

/* Special Controls */
#configure {
	margin: -1px -19px 1px;
	padding-bottom: 0;
	overflow: hidden;
}
#configure h3:first-child {
	margin-top: 0;
	border-top: 1px solid #998;
}
#configure h3 {
	margin-top: -1px;
	border-bottom: 1px solid #e7e7e3;
	padding: 0.5em 19px;
	background-color: #ccb;
	color: #554;
	text-shadow: 2px 2px 3px #ddd;
}
#configure .group {
	margin: -0.75em 0 1px -8px;
	border-bottom: 1px solid #998;
	padding: 0.75em 40px 1.75em 96px;
	background-color: #ddc;
}
#utilities {
	margin: 2px 0 1.5em 0;
	border: 1px solid #bba;
	max-height: 510px;
	overflow: auto;
	list-style: none;
}
#utilities li {
	border-top: 1px solid #ddc;
	padding: 0.63em 1.25em 0.67em;
}
#utilities li:first-child {
	border-top: none;
}
#utilities .odd {
	background-color: #f5f5f4;
}
#utilities > :nth-child(odd) {
	background-color: #f5f5f4;
}
#utilities .selected {
	border-color: #617dc5;
	background-color: #5273c0;
}
#utilities .selected.odd {
	background-color: #5677c3;
}
#utilities .selected:nth-child(odd) {
	background-color: #5677c3;
}
#components {
	margin-top: -5px;
	padding-bottom: 5px;
	background-color: #fff;
}
#components ul {
	margin-left: 0;
	border-top: 1px solid #ddc;
	padding-top: 0.75em;
	list-style: none;
}
#components li {
	margin-bottom: 0.75em;
}
#components .button {
	font-size: 0.9em;
	font-weight: normal;
}
.file input {
	margin: -3px 0;
	font: inherit;
}
.file span {
	padding-right: 7.5em;
	overflow: hidden;
	text-align: left;
}
.file a {
	float: left;
}
.file em {
	float: right;
	margin-right: -7.5em;
	width: 7.5em;
	color: #998;
	text-decoration: underline;
	font-style: normal;
	cursor: pointer;
}
.file em:hover {
	color: #d43;
}
.code {
	font: 134%/1.3 monospace;
}